[submodule "third-party/vk-bootstrap"]
	path = third-party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "third-party/beyond-core"]
	path = third-party/beyond-core
	url = https://github.com/Beyond-Engine/Core.git
[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
